################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Calculator/x64/Debug
/x64/Debug
*.user
*.filters
*.vcxproj
